div {
    background-color: #94B4C1;
    border: 2px solid #dcdcdc;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 8px #000000;
}

.container {
    display: flex;
    gap:20px;
    background-color: #7bbed8;
    border: 1px solid #dcdcdc;
    margin: 0 auto;
    box-shadow: 0 2px 4px #000000;
}

table, th, td {
    margin: 0 auto;
    border:1px solid black;
    border-collapse:collapse;
    font-family:Verdana;
    text-align:left;
    padding: 10px;
}

